body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Audiowide, sans-serif;
    background:linear-gradient(45deg, rgb(100, 100, 228), rgb(49, 238, 156)) ;
}

h3{
    text-transform: capitalize;
    font-size: 40px;
    font-variant: small-caps;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

p.intro{
    text-transform: capitalize;
    margin: 50px;
    font-size: 18px;
    font-weight: 700;
}

.current-year{
    font-size: 22px;
    color: rgb(180, 71, 16);
    
}

.container{
    background-color: transparent;
    box-shadow: 3px 4px 10px rgba(0,0,0,.5);
    width: 500px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.year{
    height: 100px;
    width: 100px;
    background: linear-gradient(45deg, rgb(49, 238, 156),rgb(100, 100, 228));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    font-size: 25px;
    font-weight: 700;
}

.time{
    display: flex;
    font-size: 40px;
    justify-content: center;
    position: relative;
    margin: 0 15px;
    width: 100%;
    box-sizing: border-box;
}

.days, .minutes, .hours, .seconds{
    margin: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: -10px;
    position: relative;
}

.time div::before{
    content:"";
    position: absolute;
    bottom: -35px;
    left: 0px;
    font-size: 12px;
    line-height: 35px;
    
}

.time .days::before{
    content:"Days"
}
.time .hours::before{
    content:"Hours"
}
.time .minutes::before{
    content:"Minutes"
}
.time .seconds::before{
    content:"Seconds"
}

@media screen and (max-width: 600px) {
    .container{
        width: 400px;
    }
}

